* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(108, 81, 195);
  --text-color-main: white;
  --primary: rgba(253, 253, 253, 0.842);
}

body {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    rgba(98, 68, 190, 1) 33%,
    rgba(18, 38, 103, 1) 59%,
    rgba(22, 20, 59, 1) 92%
  );
  /*
background: rgb(182,84,235);
background: linear-gradient(0deg, rgba(182,84,235,1) 0%, rgba(98,68,190,1) 33%, rgba(18,38,103,1) 59%, rgba(22,20,59,1) 92%);



  background: linear-gradient(90deg, rgba(5,6,33,1) 0%, rgba(8,8,37,0.20211834733893552) 44%, rgba(224,224,224,1) 100%);
  /*background: rgb(5,6,33);
background: linear-gradient(90deg, rgba(5,6,33,1) 0%, rgba(45,47,166,0.20211834733893552) 44%, rgba(158,59,185,1) 100%);
  
  /*background: rgb(10,15,140);
background: linear-gradient(90deg, rgba(10,15,140,1) 0%, rgba(158,45,166,1) 56%, rgba(158,59,185,1) 100%);
  /*background: rgb(158,59,185);
  /*background: linear-gradient(90deg, rgba(158,59,185,1) 0%, rgba(114,9,121,1) 35%, rgba(0,212,255,1) 100%);*/
  /* background-color: var(--primary-color);*/
}

.wrapper {
  overflow: hidden;
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--primary-color);
  font-family: "Rock 3D", cursive;
}

.navbar-light .navbar-toggler {
  color: var(--primary-color);
  border-color: rgba(92, 92, 92, 0.1);
}

.nav-item {
  font-family: "Nova Mono", monospace;
}

.navbar-light .navbar-nav .nav-link {
  color: var(--primary-color);
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary-color);
  font-weight: 900;
  font-family: "Rock 3D", cursive;
  letter-spacing: 1.5em;
  font-size: 1.1em;
}

.web-developer {
  color: var(--text-color-main);
  font-family: "Rock 3D", cursive;

  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 2%;
  font-size: 20px;
}

.myNameHome,
.myNameHome2 {
  font-family: "Permanent Marker", cursive;
}

.myNameHome2 {
  visibility: hidden;
  position: absolute;
  text-align: center;
  width: 100vw;
}

h1 {
  color: var(--text-color-main);
  font-size: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slogan {
  color: var(--text-color-main);
  display: flex;
  justify-content: center;
  margin: 2% 0 3% 0;
  font-family: "Nova Mono", monospace;
  letter-spacing: 1.5px;
}

footer {

  padding: 2% 0;
  color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--text-color-main);
  display: flex;
  justify-content: space-evenly;
}

.info-update {
  width: 100%px;
  font-weight: bold;
  color: var(--text-color-main);
  font-family: "Nova Mono", monospace;
  margin-bottom: 40px;
  margin-left: 2%;
  font-family: "Nova Mono", monospace;
  position: relative;
  bottom: 0;
}

@keyframes myAnim {
  0% {
    transform: scaleY(0) rotate(-45deg);
    transform-origin: 0% 110%;
  }

  55% {
    background-color: white;
  }

  100% {
    transform: scaleY(1.3) rotate(25deg);
    transform-origin: 0% 70%;

    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.main {
  margin-top: 3%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: repeat(6, 70px);
}

.span {
  transition: 2s;
  display: flex;
  justify-content: space-evenly;
  z-index: 1;
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
  width: 100%;
}

.span-ray1 {
  animation: myAnim-ray1 1.8s ease 0s 1 normal forwards;
  position: relative;
  bottom: -200px;
}

@keyframes myAnim-ray1 {
  0% {
    transform: scaleY(0) rotate(-45deg);
    transform-origin: 0% 110%;
  }

  5% {
    transform: scaleY(5) scaleX(1.1) rotate(-45deg);
    background-color: white;
  }

  100% {
    transform: scaleY(5) scaleX(1.5) rotate(15deg) translateX(200px);
    transform-origin: 0% 70%;
    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.span-ray2 {
  animation: myAnim-ray2 1.8s 2s ease forwards;
  visibility: hidden;
}

@keyframes myAnim-ray2 {
  0% {
    visibility: visible;
    transform: scaleY(0) rotate(-105deg);
    transform-origin: 0% 100%;
  }

  5% {
    transform: scaleY(1.1) rotate(-65deg);
    background-color: white;
  }

  100% {
    transform: scaleY(4) rotate(-55deg) translateX(190px) translateY(80px);
    transform-origin: 0% 100%;
    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.span-ray3 {
  animation: myAnim-ray3 1.8s ease forwards;
  visibility: hidden;
}

@keyframes myAnim-ray3 {
  0% {
    visibility: visible;
    transform: scaleY(0) rotate(-65deg);
    transform-origin: 5% 110%;
  }

  5% {
    transform: scaleY(2) scaleX(1.1) rotate(-45deg);
    background-color: white;
  }

  100% {
    transform: scaleY(5) scaleX(1.5) rotate(0deg) translateX(220px);
    transform-origin: 0% 70%;
    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.span-ray4 {
  visibility: hidden;
  animation: myAnim-ray4 1.8s ease forwards;
  position: relative;
  right: 10px;
}

@keyframes myAnim-ray4 {
  0% {
    visibility: visible;
    transform: scaleY(0) rotate(-15deg);
    transform-origin: 0% 110%;
  }

  5% {
    transform: scaleY(2) scaleX(1.1) rotate(-55deg);
    background-color: white;
  }

  100% {
    transform: scaleY(2) scaleX(1.1) rotate(-10deg) translateX(320px);
    transform-origin: 0% 70%;
    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.span-ray {
  visibility: hidden;
  z-index: 10;
  display: flex;
  justify-content: space-evenly;
  position: relative;
  grid-column: 1 / span 3;
  grid-row: 1 / span 6;
  width: 120%;
}

.span-ray5 {
  visibility: hidden;
  animation: myAnim-ray5 1.6s 1.4s ease forwards;
  position: relative;
  right: -150px;
  bottom: -30px;
}

@keyframes myAnim-ray5 {
  0% {
    visibility: visible;
    opacity: 0.1;
    transform: scaleY(0) scaleX(1.1) rotate(90deg) translateX(100px);
    transform-origin: 0% 100%;
  }

  5% {
    opacity: 0.5;

    transform: scaleY(3) scaleX(1.1) rotate(40deg);
    background-color: white;
  }

  10% {
    opacity: 1;
  }

  100% {
    transform: scaleY(5) rotate(-95deg);
    transform-origin: 0% 90%;

    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    opacity: 0.75;
  }
}

.span-rays {
  background-color: white;
  padding: 15px;
  height: 1000px;
}

@keyframes rays {
  0% {
    visibility: visible;
    transform: scaleY(0.9) rotate(20deg);
    transform-origin: -30% 50%;
  }

  80% {
    background-color: white;
  }

  98% {
    transform: scaleY(1.3) rotate(-25deg);
    transform-origin: 70% 70%;

    -webkit-box-shadow: -2px -50px 50px 50px #ffffff;
    box-shadow: -2px -50px 50px 50px #ffffff;
    background-color: white;
    font-size: 50px;
  }

  95% {
    opacity: 0.4;
  }

  99% {
    opacity: 0.2;
  }

  100% {
    opacity: 0.1;

    visibility: hidden;
  }
}

.castle-image {
  z-index: 2;
  margin-left: 10%;

  position: relative;
  grid-column: 3;
  grid-row: 1 / span 5;
}

/*@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }*/

@keyframes bg {
  100% {
    background-color: var(--text-color-main);
  }
}

@keyframes box-shadow {
  100% {
    -webkit-box-shadow: 3px 3px 62px 40px rgba(131, 67, 216, 0.75);
    box-shadow: 3px 3px 62px 40px rgba(238, 245, 243, 0.75);
    /*background-color: rgb(54, 183, 243);*/
  }
}

.light-box-surround {
  animation: box-shadow 0.8s 3.4s linear forwards, bg 0.8s 3.4s forwards;
  border-radius: 50%;
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  grid-column: 2 / span 2;
  grid-row: 2 / span 2;
  z-index: 8;
  margin-top: -52px;
}

.light-box {
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  text-align: center;
}

.explore-work-style {
  visibility: hidden;
  display: flex;
  align-items: center;
  font-size: 14px;
  text-align: center;
  width: 100px;
  font-weight: bolder;
  border-radius: 5%;
  padding: 13px;
  position: relative;
  font-family: "Permanent Marker", cursive;
letter-spacing: 0.075em;
}

.explore-work-style a {
  color: rgba(224, 224, 171, 0.507);
transform: rotate(-7deg);
  text-decoration: none;
  animation: explore-appear 1s 4s ease-in forwards;
}

@keyframes explore-appear {
  0% {
    visibility: visible;
    opacity: 0.2;
  }

  20% {
    visibility: visible;
    opacity: 0.4;
  }

  50% {
    visibility: visible;
    opacity: 0.6;
  }

  70% {
    visibility: visible;
    opacity: 0.8;
  }

  100% {
    visibility: visible;
    opacity: 1;
  }
}

/* About me Page - Relevant:*/

.roof {
  position: relative;
  z-index: -5;
display: flex;
justify-content: center;
}

/*img {
  margin-top: 3%;
  margin-left: 3%;
  border-radius: 1%;
  
}*/

.myImage {
  width: 300px;
  height: 400px;
  position: relative;
  z-index: 2;
  border-radius: 15px 50px 30px 5px;
  background-image: url(./meToon.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-y: 30px;
  transform: rotate(3deg);
  top: 35px;
}

.about {
  margin-top: 140px;
}

.about-animation {
  width: 300px;
  height: 300px;
  right: 35%;
  top: 350px;
  position: absolute;
  z-index: 1;
  font-family: "Rock 3D", cursive;
}

.me-animation {
  width: 300px;
  height: 300px;
  right: 35%;
  top: 300px;
  position: absolute;
  z-index: 10;
  background-color: transparent;
}

.me {
  color: var(--text-color-main);
  /*margin-top: -200px;*/

  margin-right: -200px;
  animation: me 7s forwards;
  font-family: "Rock 3D", cursive;
}

@keyframes me {
  5% {
    transform: translateY(260px);
  }

  18%,
  24%,
  30% {
    transform: translateY(260px) /*translate3d(-1px, 0, 0)*/ rotate(-25deg);
  }

  20%,
  26%,
  32% {
    transform: translateY(260px) /*translate3d(2px, 0, 0)*/ rotate(25deg);
  }

  22%,
  28% {
    transform: translateY(260px) rotate(-25deg) /*translate3d(2px, 0, 0)*/;
  }

  33% {
    transform: translateY(260px) translateX(-320px);
  }

  50% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-260px)
      translateX(-320px) rotate(90deg);
  }

  52% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-260px)
      translateX(-320px) rotate(180deg);
  }

  57% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-280px)
      translateX(-160px) rotate(270deg);
  }

  57% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-280px)
      translateX(-20px) rotate(360deg);
  }

  65% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-250px)
      translateX(-20px) rotate(450deg);
  }

  70% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-210px)
      translateX(-20px) rotate(540deg);
  }

  74% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-180px)
      translateX(-20px) rotate(630deg);
  }

  80% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-140px)
      translateX(-16px) rotate(720deg);
  }

  85% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-100px)
      translateX(-10px) rotate(810deg);
  }

  89% {
    transform:
      /*translate3d(4px, 0, 0)*/ translateY(-70px) translateX(0px)
      rotate(900deg);
  }

  90% {
    transform: translateY(-120px) translateX(0px) rotate(90deg)
      /* translate3d(-4px, 0, 0)*/;
  }

  90% {
    transform: translateY(-120px) translateX(-10px) rotate(-25deg)
      /* translate3d(-4px, 0, 0)*/;
  }

  100% {
    transform: translateY(260px) translateX(-70px);
  }
}

.text-me {
  padding: 0 25%;
  width: 100%;
  margin-top: 300px;
  margin-bottom: 10%;
  display: flex;
  justify-content: center;
}

p {
  color: var(--text-color-main);
  padding: 40px;
  font-family: "Permanent Marker", cursive;
  font-size: 1.2em;
  letter-spacing: 0.25em;
}

.main2 {
  position: relative;
}

/* My Work Page - Relevant:*/

.work-1,
.work-2,
.work-3 {
  display: flex;
  justify-content: center;
  margin-top: 15%;
  margin-bottom: 5%;
}

.work-3 {
  margin-bottom: 30%;
}

.card {
  display: flex;
  justify-content: center;
}

.card-body2,
.card-body3 {
  margin-top: -300px;
}

.card-text {
  background: linear-gradient(
    0deg,
    var(--primary-color) 0%,
    rgba(98, 68, 190, 0.5) 33%,
    rgba(18, 38, 103, 0.5) 59%,
    rgba(22, 20, 59, 0.5) 92%
  );  border-radius: 2%;
  /* border: black 1px solid;*/
}

.card-text2 {
  height: 180px;
  margin-top: 280px;
}

.card-text3 {
  height: 180px;
  margin-top: 280px;
}

.card1 {
  background-image: url(./weatherapp.png);
  background-position-x: -800px;
}

.card2 {
  background-color: black;
}

.card3 {
  background-image: url(./twilight.png);
}

.h1-work {
  letter-spacing: 9px;

  margin-top: 50px;
  font-family: "Rock 3D", cursive;
  font-size: 3.5em;
}

.card img {
  width: 80%;
  margin: 10%;
}

/* Mission Page - Relevant:*/

.mission-animation {
  display: flex;
  justify-content: center;
  overflow: hidden;
  /*border: black 1px solid;*/
}

.letter-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 30px;
  height: 100px;
  width: 800px;
}

.letter {
  font-family: "Rock 3D", cursive;
  font-size: 3.5em;
  color: lightslategray;
}

@keyframes lighting {
  0% {
    color: lightslategray;
  }

  10% {
    color: gold;
    text-shadow: 0 0 1em gold;
  }

  11% {
    color: lightslategray;
    text-shadow: none;
  }
}

.letter-1 {
  animation: lighting 2s 1s infinite linear;
}

.letter-2 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.1s;
}

.letter-3 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.2s;
}

.letter-4 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.3s;
}

.letter-5 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.4s;
}

.letter-6,
.letter-9,
.letter-19,
.letter-23 {
  /*animation: lighting 2s infinite ;
  animation-delay: 2.5s;*/
  visibility: hidden;
}

.letter-7 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.6s;
}

.letter-8 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.7s;
}

.letter-10 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.8s;
}

.letter-11 {
  animation: lighting 2s infinite linear;
  animation-delay: 1.9s;
}

.letter-12 {
  animation: lighting 2s infinite linear;
  animation-delay: 2s;
}

.letter-13 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.1s;
}

.letter-14 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.2s;
}

.letter-15 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.3s;
}

.letter-16 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.4s;
}

.letter-17 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.5s;
}

.letter-18 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.6s;
}
.letter-20 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.8s;
}
.letter-21 {
  animation: lighting 2s infinite linear;
  animation-delay: 2.9s;
}

.letter-22 {
  animation: lighting 2s infinite linear;
  animation-delay: 3s;
}
.letter-24 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.1s;
}
.letter-25 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.2s;
}
.letter-26 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.3s;
}
.letter-27 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.4s;
}
.letter-28 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.5s;
}
.letter-29 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.6s;
}

.letter-30 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.7s;
}

.letter-31 {
  animation: lighting 2s infinite linear;
  animation-delay: 3.8s;
}

.slide-right {
  width: 100%;
  overflow: hidden;
  /* margin-left: 30px;*/
  width: 100vw;
}

.letter-container {
  animation: 28s slide-right infinite;
  transform: translateX(100%);
  transition-timing-function: linear;
}

@keyframes slide-right {
  50% {
    transform: translateX(-800px);
  }

  100% {
    transform: translateX(800px);
  }
}

/* Contact Page - Relevant:*/

.key {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  margin-bottom: 60px;
}

.title-contact {
  font-family: "Rock 3D", cursive;
}

/* media queries*/

@media (min-width: 0px) {
  .wrapper {
    height: 70%;
    width: 100%;
  }
  .info-update {
    height: 90px;
  }
  .text-me {
    padding: 0 5%;
  }
}

@media (min-width: 300px) {
  .castle-image > img {
    height: 250px;
  }
  .light-box-surround {
    margin-right: 1%;
  }

    .castle-image {
      margin-left: 14%;
    }
    .slogan {
      font-size: 0.8em;
    }
}

@media (min-width: 400px) {
  .castle-image > img {
    height: 250px;
  }
  .light-box-surround {
    margin-left: 4%;
  }

    .castle-image {
      margin-left: 12%;
    }
    .castle-image > img {
      height: 100%;
    }
}

@media (min-width: 500px) {
  .web-developer {
    margin-top: 100px;
  }

  .light-box-surround {
    margin-left: 7%;
  }

    .castle-image {
      margin-left: 10%;
    }
    .text-me {
      padding: 0 10%;
    }

}

@media (min-width: 750px) {
  .web-developer {
    font-size: 2em;
  }
  .myNameHome {
    visibility: hidden;
  }
  .myNameHome2 {
    visibility: visible;
    margin-top: -130px;
  }
  h1 {
    font-size: 3em;
  }
  .slogan {
    margin-top: -20px;
    margin-bottom: 50px;
    font-size: 1em;
  }


  .light-box-surround {
    margin-left: 10%;
  }

    .castle-image {
      margin-left: 0;
    }
    footer {
      padding: 1%;
    }
}

@media (min-width: 865px) {

  .light-box-surround {
    margin-left: 15%;
  }

    .castle-image {
      margin-left: -3%;
    }
}

@media (min-width: 992px) {
  .navbar-light .navbar-nav .nav-link.active,
  .navbar-light .navbar-nav .show > .nav-link {
  color: var(--primary-color);
  font-family: "Nova Mono", monospace;
  letter-spacing: 0;
}
.navbar-light .navbar-nav {
margin-top: 1%;
gap: 10px;
display: flex;
justify-content: end;
width: 100%}

.light-box-surround {
  margin-left: 15%;
}

  .castle-image {
    margin-left: -8%;
  }
.castle-image > img {
  height: 300px;
}
}


@media (min-width: 1100px) {

  .light-box-surround {
    margin-left: 17%;
  }

    .castle-image {
      margin-left: -10%;
    }

    .castle-image > img {
      height: 300px;
    }
}

@media (min-width: 1200px) {

  .light-box-surround {
    margin-left: 19%;
  }

    .castle-image {
      margin-left: -12%;
    }

    .castle-image > img {
      height: 300px;
    }
    
}


@media (min-width: 1500px) {

  .light-box-surround {
    margin-left: 19%;
  }

    .castle-image {
      margin-left: -16%;
    }

    .castle-image > img {
      height: 300px;
    }
    .text-me {
      padding: 0 25%;
    }
  }



@media (min-width: 1600px) {

  .light-box-surround {
    margin-left: 19%;
  }

    .castle-image {
      margin-left: -21%;
    }

    .castle-image > img {
      height: 400px;
    }

    .info-update {
      height: 80px;
    }
  }