* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: rgb(108, 81, 195);
  --text-color-main: white;
  --primary: rgba(253, 253, 253, 0.842);
}

body {
  background-color: var(--primary-color);
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: var(--primary-color);
}

container-fluid {
  color: var(--text-color-main);
}

.web-developer {
  display: flex;
  justify-content: center;
  margin-top: 3%;
  font-size: 20px;
}

h1 {
  font-size: 60px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.slogan {
  display: flex;
  justify-content: center;
  margin: 2% 0 2% 0;
}

footer {
  color: var(--primary-color);
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 3;
  background-color: var(--text-color-main);
}

.info-update {
  width: 110px;
 
}






.explore-work-style {
  border: 1px solid var(--text-color-main);
  font-size: 20px;
  text-align: center;
  width: 100px;
  grid-column: 1;
  margin-left: 10%;
  grid-row: 3;}




span1
 {
  font-size: 10px;
  background-color: black;
 /*}

.btn:hover {*/
  color: var(--primary);
  background: var(--primary);
  box-shadow: 0 0 60px var(--primary),
    0 0 60px var(--primary), 0 0 60px var(--primary),
    0 0 60px var(--primary);
  transition-delay: 1.5s;
  cursor: pointer;
width: 100%;
height: 400px;
}







.btn span:nth-child(1) {
  top: 0;
  transform: translateX(-115%);
  width: 90%;
  height: 1px;
  background: linear-gradient(90deg, transparent, var(--primary));
}

/*.btn:hover*/.btn span:nth-child(1) {
  transform: translateX(100%);
  transition: 1s;
}

.btn span:nth-child(3) {
  bottom: 0;
  transform: translateX(100%);
  width: 100%;
  height: 1px;
  background: linear-gradient(270deg, transparent, var(--primary));
}

.btn span:nth-child(3) {
  visibility: hidden;
}

/*.btn:hover*/ .btn span:nth-child(3) {
  transform: translateX(-115%);
  transition: 1s 0.5s;
  visibility: visible;
}

.btn span:nth-child(2) {
  right: 0;
  transform: translateY(-130%);
  width: 1px;
  height: 100%;
  background: linear-gradient(180deg, transparent, var(--primary));
}

/*.btn:hover*/ .btn span:nth-child(2) {
  transform: translateY(100%);
  transition: 1s 0.25s;
}

.btn span:nth-child(4) {
  left: 0;
  /*transform: translateY(100%);*/
  width: 1px;
  height: 100%;
  background: linear-gradient(360deg, transparent, var(--primary));
  transform: translateY(-130%);
  transition: 1s 0.75s;
}

/*.btn:hover*/  .btn span:nth-child(4) {

}




@keyframes myAnim {
  0% {
    transform: scaleY(0);
    transform-origin: 0% 100%;
  }

  100% {
    transform: scaleY(1);
    transform-origin: 0% 100%;
  }
}


     /*<div class="btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>*/


.main {
  display: grid;
  grid-template-columns: 20px, 80px;
  grid-template-rows: repeat(6, 70px);
  
}

.span {
  z-index: 1;
  position: relative;
  animation: myAnim 1s ease 0s 1 normal forwards;
  grid-column: 2;
  grid-row: 1 /span 6;
background-color: pink;
width: 100%}

.castle-image {
  z-index: 2;

  position: relative;
  grid-column: 2;
  grid-row: 1 /span 5;}
